body {
  background-color: #000 !important;
}

.head {
  opacity: 0.8;
}

header {
  transition: 0.5s;
  z-index: 100000;
}

@keyframes moving {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
}
