.title {
    color: palegoldenrod;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    animation: moving 2s ease-out;
}

@media (max-width : 991px) {
    .title {
        display: none;
    }
}

