.slider img {
    width: 180px;
    height: 200px;
}

.slider:hover {
   cursor: grab;
}

.title {
    color: white;
    font-size: xx-large;
    font-weight: 500;
    margin-top: 10px;
}

@media (min-width : 767px) {
    .slider img {
        width: 200px;
        height: 200px;
    }
}